.wrapper{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.submit{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  border-bottom: 1px solid var(--secondary-dark);
  padding: 0.7rem;
}
.submit_button{
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 4px;
  font-size: 0.9rem;
  background-color: var(--primary-accent);
  font-weight: 600;
  gap: 0.3rem;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  border: none;
  width: 8rem;
}
.submit_button:hover{
  background-color: #4b99d8;
}
.submit_right{
  display: flex;
  gap: 1rem;
}
.fullscreen{
  background: none;
  border: none;
  cursor: pointer;
  color: var(--secondary-light);
  font-size: 1.5rem;
  border-radius: 4px;
  transition: color 200ms ease-in-out;
}
.fullscreen:hover{
  color: var(--primary-light);
}
.editors{
  display: flex;
  flex-grow: 1;
  max-height: calc(100% - 61.39px);
  width: 100%;
}
.editor{
  height: 100%;
  width: 70%;
}
.io{
  height: 100%;
  border-left: 1px solid var(--secondary-dark);
  width: 30%;
}
.input{
  height: 50%;
  width: 100%;
}
.input:last-of-type{
  border-top: 1px solid var(--secondary-dark);
}