.wrapper{
  height: 100%;
  width: 100%;
  min-width: 768px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid var(--secondary-dark);
}
.editor{
  flex-grow: 1;
  height: 100%;
  background-color: var(--primary-dark);
}
.panel{
  border-right: 1px solid var(--secondary-dark);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
}
.collapse{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: var(--tertiary-dark);
  padding: 0.7rem;
  border-bottom: 1px solid var(--secondary-dark);
  flex-shrink: 0;
}
.collapsed{
  width: 212px;
}
.collapse_button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  height: 38px;
  color: var(--secondary-light);
  font-size: 1rem;
  border-radius: 4px;
  transition: color 200ms ease-in-out;
}
.collapse_button:hover{
  color: var(--primary-light);
}
.controls{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--secondary-dark);
  padding: 0.7rem;
  flex-shrink: 0;
}
.videos{
  flex-grow: 1;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.video{
  display: block;
  aspect-ratio: 4 / 3;
  background-color: var(--secondary-dark);
  border-radius: 4px;
}
.video_wrapper{/* only need for pseudo element*/
  position: relative;
  border: 1px solid var(--secondary-dark);
  border-radius: 4px;
}
.video_wrapper::before{
  content: attr(name-attr);
  color: var(--secondary-light);
  font-size: 0.9rem;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 0.2rem;
  width: 100%;
  border-radius: 0 0 4px 4px;
  background: #10141c30;
  background: linear-gradient(0deg, rgba(16,20,28,0.7203475140056023) 26%, rgba(16,20,28,0.5130646008403361) 55%, rgba(16,20,28,0) 100%);
}

.button{
  display: flex;
  height: 48px;
  width: 48px;
  padding: 0;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  border: none;
}
.collapsed .wide{
  height: 38px;
}
.wide{
  width: 64px;
  border-radius: 16px;
}
.danger{
  background-color: var(--primary-error);
  color: var(--secondary-light);
}
.danger:hover{
  background-color: #e46153;
}
.normal{
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
}
.normal:hover{
  color: var(--secondary-dark);
  background-color: var(--primary-light);
}